<div class="bar-stable my-navbar">
  <div class="navbar-action" ng-click="myGoBack()">
    <h3><span class="icon ion-ios-arrow-back"></span> Back</h3>
  </div>
</div>
<div class="title-cost">
  <div class="title">
    <h3>About</h3>
  </div>
</div>
<ion-view class="my-ion-view-cart">
  <ion-content class="screen-body about-body">
    <div class="manzur">
    </div>
    <div class="author-info">
      <h3>Made with</h3>
      <div class="animated pulse infinite">
        <i class="icon ion-ios-heart"></i>
      </div>
      <p>By Manzur Khan Sarguru</p>
    </div>
  </ion-content>
</ion-view>
