<div class="bar-stable my-navbar">
  <div class="navbar-action" ng-click="myGoBack()">
    <h3><span class="icon ion-ios-arrow-back"></span> Back</h3>
  </div>
</div>
<div class="title-cost">
  <div class="title">
    <h3>Your Cart</h3>
  </div>
  <div class="cost">
    <p>Total Cost: <span> ${{totalPrice}}</span></p>
  </div>
</div>
<ion-view class="my-ion-view-cart">
  <ion-content class="screen-body cart-body">
    <div class="cart-list">
      <div class="cart-item" ng-repeat="product in products">
        <div class="item-container" ng-show="product.carted">
          <div class="cart-item-image">
            <img src="{{product.image}}" alt="{{product.name}}">
          </div>
          <div class="cart-item-detail">
              <h3>{{product.name}}</h3>
              <div class="quantity">
                <p>Quantity: &emsp; <span ng-click="reduceQuantityTriggered($index)">-</span> <span class="quantity-value">&nbsp {{product.quantity}} &nbsp</span> <span ng-click="increaseQuantityTriggered($index)">+</span></p>
              </div>
              <h3>${{product.price}}</h3>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<div class="my-tabs add-cart-footer" ng-click="addToCart(selectedProduct.id)" ng-if="cartedProducts.length>0">
  <p>Purchase</p>
</div>

<div class="my-tabs" ng-if="cartedProducts.length<1">
   <!-- Favourites Tab -->
   <div class="icon ion-ios-heart" ng-click="redirectTo('favourites')">
   </div>
   <!-- List Tab -->
   <div class="icon ion-ios-list" ng-click="redirectTo('list')">
   </div>
   <!-- Browse Tab -->
   <div class="icon ion-ios-home" ng-click="redirectTo('home')">
   </div>
   <!-- Cart Tab -->
   <div class="icon ion-ios-cart active-tab" ng-click="redirectTo('cart')">
   </div>
   <!-- Settings Tab -->
   <div class="icon ion-ios-gear" ng-click="redirectTo('settings')">
   </div>
</div>
