<ion-view view-title="{{title}}">
  <ion-content class="screen-body">
  <div class="sub-heading">
    <p class="product-detail-title">{{selectedProduct.name}}<span>{{selectedProduct.price}}</span></p>
  </div>
  <div class="screen-content">
    <ion-scroll direction="y" style="width: inherit; height: 80vh">
      <h1>{{selectedProduct.name}}</h1>
      <h1>{{selectedProduct.name}}</h1>
      <h1>{{selectedProduct.name}}</h1>
      <h1>{{selectedProduct.name}}</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
      <h1>hello there</h1>
    </ion-scroll>
  </div>
  </ion-content>
</ion-view>
