<div class="bar-stable my-navbar">
  <div class="navbar-action" ng-click="myGoBack()">
    <h3><span class="icon ion-ios-arrow-back"></span> Back to Cart</h3>
  </div>
</div>
<div class="title-cost">
  <div class="title">
    <h3>Your Cart</h3>
  </div>
  <div class="cost">
    <p>Total Cost: <span> ${{totalPrice | number: 2}}</span></p>
  </div>
</div>
<ion-view class="my-ion-view-cart">
  <ion-content class="screen-body purchase-body">
    <ion-slide-box show-pager="false">
    <ion-slide>
      <div class="purchase-track">
        <div class="track-line">
        </div>
        <i class="ion-record activated"><span class="activated">Details</span></i>
        <i class="ion-record"><span>Payment</span></i>
        <i class="ion-record"><span>Success</span></i>
      </div>
      <div class="purchase-form">
        <form name="detailsForm">
          <div class="name">
            <div class="first-name">
              <span>First Name</span>
              <label class="item item-input">
                <input type="text" name="firstName" placeholder="Chris" ng-model="customerDetails.firstName" required minlength=3 maxlength=15>
              </label>
              <p style="display: inline-block" ng-show="detailsForm.firstName.$invalid&&detailsForm.firstName.$dirty">Atleast 3 letters</p>
            </div>
            <div class="last-name">
              <span>Last Name</span>
              <label class="item item-input">
                <input type="text" name="lastName" placeholder="Matthews" ng-model="customerDetails.lastName" required minlength=3 maxlength=15>
              </label>
              <p ng-show="detailsForm.lastName.$invalid&&detailsForm.lastName.$dirty">Atleast 3 letters</p>
            </div>
          </div>
          <div class="address">
            <span>Address</span>
            <label class="item item-input">
              <input type="text" name="address" placeholder="Mendelson Bartholdy Park" ng-model="customerDetails.addressMain" required minlength=5 maxlength=50>
            </label>
            <p ng-show="detailsForm.address.$invalid&&detailsForm.address.$dirty">Atleast 5 letters</p>
            <div class="address-code">
              <div class="street">
                <label class="item item-input">
                  <input type="text" name="addressCode" placeholder="Apt.6, 10335" ng-model="customerDetails.addressCode" required minlength=3 maxlength=15>
                </label>
                <p ng-show="detailsForm.addressCode.$invalid&&detailsForm.addressCode.$dirty">Atleast 3 letters</p>
              </div>
              <div class="city">
                <label class="item item-input">
                  <input type="text" name="city" placeholder="Berlin" ng-model="customerDetails.addressCity" required minlength=2 maxlength=15>
                </label>
                <p ng-show="detailsForm.city.$invalid&&detailsForm.city.$dirty">Atleast 2 letters</p>
              </div>
            </div>
          </div>
        </form>
        <button type="button" name="button" class="button next-button" ng-click="goToPayment(detailsForm.$valid)">Proceed</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="purchase-track">
        <div class="track-line">
        </div>
        <i class="ion-checkmark-circled completed" ng-click="previousSlide()"><span>Details</span></i>
        <i class="ion-record activated"><span  class="activated">Payment</span></i>
        <i class="ion-record"><span>Success</span></i>
      </div>
      <div class="purchase-form">
      <form name="paymentForm">
        <div class="payment-mode">
          <span>Payment Mode</span>
          <label class="item item-input select-label">
            <select ng-class="{card_selected: customerDetails.payment.cardType}" ng-model="customerDetails.payment.cardType">
              <option selected default value="">Master Card</option>
              <option value="Master Card">Master Card</option>
              <option value="Visa">Visa</option>
              <option value="Maestro">Maestro</option>
            </select>
          </label>
        </div>
        <div class="card-details">
          <span>Card Details</span>
          <label class="item item-input">
            <input type="number" name="cardNumber" placeholder="Card Number" ng-model="customerDetails.payment.cardNumber" required minlength=12 maxlength=16>
          </label>
          <p ng-show="paymentForm.cardNumber.$invalid&&paymentForm.cardNumber.$dirty">Between 12 to 16 Numbers</p>
            <div class="card-details-inner">
              <label class="item item-input card-expiry">
                <input type="text" name="expiryDate" placeholder="Expiry Date" ng-model="customerDetails.payment.expiryDate" required minlength=5 maxlength=5>
              </label>
              <p ng-show="paymentForm.expiryDate.$invalid&&paymentForm.expiryDate.$dirty">Enter as MM/YY</p>
              <label class="item item-input card-cvv">
                <input type="number" name="cardCVV" placeholder="CVV" ng-model="customerDetails.payment.cvv" required minlength=3 maxlength=3>
              </label>
              <p ng-show="paymentForm.cardCVV.$invalid&&paymentForm.cardCVV.$dirty" style="padding-left: 50%">Requires 3 numbers</p>
            </div>
        </div>
      </form>
      <button type="button" name="button" class="button next-button" ng-click="placeOrder(paymentForm.$valid)">Place Order</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="purchase-track">
        <div class="track-line">
        </div>
        <i class="ion-checkmark-circled completed"><span>Details</span></i>
        <i class="ion-checkmark-circled completed"><span>Payment</span></i>
        <i class="ion-record activated"><span class="activated">Success</span></i>
      </div>
      <div class="purchase-form">
        <div class="order-sucess">
          <h3>Congratulations!</h3>
          <h4>Your shipment is on its way.</h4>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>

<div class="my-tabs add-cart-footer" ng-click="purchase(totalPrice)" ng-if="totalPrice>0">
  <p>Purchase</p>
</div>

<div class="my-tabs" ng-if="totalPrice<=0">
   <!-- Favourites Tab -->
   <div class="icon ion-ios-heart" ng-click="redirectTo('favourites')">
   </div>
   <!-- List Tab -->
   <div class="icon ion-ios-list" ng-click="redirectTo('list')">
   </div>
   <!-- Browse Tab -->
   <div class="icon ion-ios-home" ng-click="redirectTo('home')">
   </div>
   <!-- Cart Tab -->
   <div class="icon ion-ios-cart active-tab" ng-click="redirectTo('cart')">
   </div>
   <!-- Settings Tab -->
   <div class="icon ion-ios-gear" ng-click="redirectTo('settings')">
   </div>
</div>
