/* Empty. Add your own CSS if you like */

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;

  /*Defining colors*/
  --main-background-color: rgb(240, 243, 248);
  --blue-accent: #006CD0;
  --heart-color: #D80338;
  --inactive-icons-color: #BBC7CF;
  --alternate-text-color: #A0A0A0;
  --black-color: #1D1D1D;
  --green-accent: #049539;
}
.my-navbar {
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
}
.navbar-action {
  padding: 1em 0 0 0.5em;
}
.navbar-action h3{
  font-size: 1.6em;
}
.my-ion-view {
  top:4em;
}
.my-ion-view-cart {
  top: 7em;
}
.screen-body {
  background: var(--main-background-color);
  margin-top: -0.5em;
  /*Set margin as navbar height + tabs height*/
  margin-bottom: 9em;
}
.sub-heading {
  background: white;
  width: 100%;
  height: 5em;
}

.my-tabs {
  position: absolute;
  background: white !important;
  bottom: 0;
  width: 100%;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 300;
}
.my-tabs .icon {
  flex: 1;
  font-size: 3em;
  text-align: center;
  color: var(--inactive-icons-color);
}
.active-tab {
  color: var(--blue-accent) !important;
}

.button-blue {
  background: var(--blue-accent);
  color: white;
}




/*Style for Home Page*/
.search-box {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.search-box label{
  border: 0;
  padding-left: 0;
}
.search-input {
  background: grey;
}
.sub-heading input{
  background: rgb(240, 243, 248);
  text-indent: 1em;
  border-radius: 0.1em;
  background-image: url('../img/search.png');
  background-size: 1.5em 1.5em;
  background-position: 95%;
  background-repeat: no-repeat;
}
.sub-heading ::-webkit-input-placeholder {
  text-indent: 1em;
  font-size: 1.2em;
}
.screen-content-heading {
  padding: 0.5em 1.5em 0.5em 1.5em;
}
.screen-content-heading p{
  font-size: 1.6em;
  padding-top: 0.5em;
}
.screen-content-main {
  padding: 0 1.5em 0 1.5em;
}
.product-listings-content {
  margin: 10em 1.5em 0 1.5em;
  height: auto;
}
.product-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.product {
  height: 24em;
  flex-basis: 48%;
  background: white;
  box-sizing: border-box;
  border: 0.2em solid lightgrey;
  border-radius: 0.5em;
}
.product:nth-child(even) {
  margin-top: 2em;
}
.product:nth-child(2) {
  height: 26em;
  margin-top: 0em;
}
.product:last-child {
  margin-bottom: 2em;
}
.product:nth-child(2) .product-view {
  height: 20em !important;
}
.product-view {
  background: transparent;
  height: 18em;
  /*border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;*/
  border-bottom: 0.2em solid var(--main-background-color);
}
.product-view-header {
  height: 15em;
  display: flex;
}
.product:nth-child(2) .product-view .product-view-header {
  height: 17em;
}
.product-view-header img {
  width: 12em;
  margin: auto;
}
.product-view-footer {
  font-size: 2em;
  height: 2em;
  padding: 0 1em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-view-footer .ion-ios-heart {
  color: var(--inactive-icons-color);
  flex-basis: 20%;
  z-index: 2;
}
.is_favourited {
  color: var(--heart-color) !important;
}
.product-view-footer .ion-ios-cart {
  color: var(--inactive-icons-color);
  flex-basis: 20%;
  text-align: right;
  z-index: 2;
}
.is_carted {
  color: var(--blue-accent) !important;
}
.product-details {
  background: transparent;
  height: 5em;
  padding: 1em 0 1em 0;
}
.product-details p {
  font-size: 1.6em;
  line-height: 0.8em;
  margin-left: 1.2em;
}


/*Style for Product Detail Page*/
.product-detail-title {
  font-size: 2.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.3em;
}
.product-detail-title span{
  float: right;
}
.product-detail-main {
  margin-bottom: 5em;
}
.product-detail-image {
  width: 100%;
  height: 25em;
}
.product-detail-image i{
  float: right;
  font-size: 3em;
  padding: 0.5em;
  color: var(--alternate-text-color);
}
.product-detail-description {
  width: 100%;
  background-color: white;
  padding: 2em 1.5em 3em 1.5em;
}
.product-detail-description p{
  font-size: 1.5em;
}
.product-section-1 {
  height: 28em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
.section-1-left {
  flex-basis: 56%;
  color: var(--alternate-text-color);
}
.section-1-left h3 {
  color: black;
  font-size: 2.2em;
  padding-bottom: 0.5em;
}
.section-1-right {
  flex-basis: 40%;
  background: #F0F4F9;
  color: var(--alternate-text-color);
  padding: 2em 1.5em 2em 1.5em;
}
.section-1-right h3{
  font-size: 1.6em;
  color: #8F9AA2;
  line-height: 0;
}
.section-1-right p{
  font-size: 1.5em;
  color: darkslategrey;
}
.product-detail-colors {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
  margin-top: -0.5em;
}
.color-circle {
  background: cyan;
  width: 2em;
  height: 2em;
  margin-right: 0.8em;
  border-radius: 50%;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
}

.product-section-2 {
  color: var(--alternate-text-color);
  height: 25em;
}

.product-related {
  height: 25em;
  background: var(--main-background-color);
}
.product-related h2{
  font-size: 2em;
  color: darkslategray;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}
.product-related-list {
}
.product-related-scroll {
  display: flex;
  /*height: 20em;
  width: 5000px;
  /*flex-wrap: wrap;*/
}
.product-related-item {
  background: white;
  width: 18em;
  margin-left: 1em;
  margin-right: 1em;
  box-sizing: border-box;
  border: 0.2em solid lightgrey;
  border-radius: 0.5em;
}
.product-related-item-view {
  height: 15em;
  /*border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;*/
  border-bottom: 0.2em solid var(--main-background-color);
}
.product-related-item-view-header {
  display: flex;
  height: 15em;
  background: transparent;
}
.product-related-item-view-header img {
  width: 10em;
  margin: auto;
  margin-left: 2em;
  margin-right: 2em;
}
.product-related-item-view-footer {
  font-size: 2em;
  height: 2em;
  padding: 0 1em 1em 1em;
  display: flex;
  align-items: center;
}
.product-related-item-details {
  height: 6em;
  padding: 1em 0 1em 0;
}
.product-related-item-details p {
  font-size: 1.6em;
  line-height: 0.8em;
  margin-left: 1.2em;
}
.dummy-related {
  border: 0.1em solid transparent;
}

.add-cart-footer {
  background: var(--blue-accent) !important;
  display: flex;
  z-index: 100;
}
.add-cart-footer p {
  color: white;
  font-size: 1.7em;
  margin: auto;
}
.add-cart-footer .buy-now {
  font-size: 1.3em;
  text-align: center;
}



/*Style for Cart Page*/
.cart-body {
  background: white;
  padding-top: 0.5em;
  /*Margin Bottom = top height(7) + navbar height(6) */
  margin-bottom: 13em;
}
.title-cost {
  display: flex;
  border-bottom: 1px solid var(--main-background-color);
  align-items: flex-end;
  padding-top: 0.1em;
}
.title-cost .title {
  flex-basis: 50%;
}
.title-cost .title h3{
  padding-left:0.6em;
  color: var(--black-color);
}
.title-cost .cost {
  flex-basis: 50%;
  text-align: right;
}
.title-cost .cost {
  font-size: 1.5em;
  color: var(--alternate-text-color);
  padding-right: 1em;
}
.title-cost .cost span{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--black-color);
}

.cart-list {
  height: 13em;
}
.cart-item {
  width: 100%;
  border-bottom: 1px solid var(--main-background-color);
  padding-bottom: 1em;
}
.item-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em 0.1em 1.5em;
}
.cart-item-image {
  display: flex;
  flex-basis: 44%;
  justify-content: center;
  height: 12em;
  width: 15em;
  background: var(--main-background-color);
}
.cart-item-image img {
  width: 10em;
  margin: auto;
}
.cart-item-detail {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
  line-height: 0;
  padding-top: 2em;
}
.cart-item-detail h3 {
  flex-basis: 30%;
  font-size: 1.8em;
}
.cart-item-detail .quantity {
  flex-basis: 30%;
  padding-top: 1.5em;
}
.cart-item-detail .quantity p {
  color: var(--alternate-text-color);
  font-size: 1.5em;
}
.cart-item-detail .quantity span {
  font-weight: bold;
  font-size: 1.3em;
}
.quantity .quantity-value {
  color: var(--black-color);
}


/*Style for Purchase Page*/
.purchase-body {
  background: var(--main-background-color);
  margin-bottom: 0 !important;
}
.purchase-body:last-child {
  background: white;
}
.purchase-track {
  background: white;
  display: flex;
  height: 10em;
  padding-top: 2em;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-background-color);
}
.purchase-track .track-line {
  position: absolute;
  /*Margin Top should be half the font size of i tag of purchase-track*/
  margin-top: 1.25em;
  height: 1px;
  background: var(--main-background-color);
  /*left and right should be half of (font-size + flex-basis) + padding-left of i tag of purchase-track */
  left: 3.25em;
  right: 3.25em;
}
.purchase-track i{
  text-align: center;
  font-size: 2.5em;
  flex-basis: 2em;
  color: var(--alternate-text-color);
  z-index: 2;
  line-height: 1em;
}
.purchase-track i span{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  font-size: 0.7em;
  color: var(--black-color);
}
.purchase-track .activated {
  color: var(--blue-accent);
}
.purchase-track .completed {
  color: var(--green-accent);
}
.purchase-form {
  padding: 2em 1.5em 0 1.5em;
}
.purchase-form p{
  position: absolute;
  font-size: 1.2em;
  color: var(--alternate-text-color);
}
.purchase-form span {
  font-size: 1.8em;
  color: var(--alternate-text-color);
}
.purchase-form label {
  margin-top: 0.6em;
  height: 2.5em;
  border: 1px solid #D8DFE5;
  border-radius: 5px;
}
.purchase-form label:hover {
  border-color: var(--blue-accent);
}
.purchase-form input {
  font-size: 1em;
  color: var(--black-color);
}

.purchase-form ::-webkit-input-placeholder {
  color: #D8DFE5;
}
.purchase-form select {
  color: #D8DFE5;
  border: none;
  width: 100%;
  margin-right: 0.2em;
  background: transparent;
}
.card_selected {
  color: var(--black-color) !important;
}
.purchase-form option[default] {
  display: none;
}
.select-label {
  width: 50%;
}
.purchase-form .name {
  display: flex;
  justify-content: space-between;
}
.name .first-name {
  flex-basis: 48%;
}
.name .last-name {
  flex-basis: 48%;
}

.purchase-form .address {
  margin: 3em 0 1em 0;
}
.address-code {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.address-code .street {
  flex-basis: 48%;
}
.address-code .city {
  flex-basis: 48%;
}

.next-button {
  background: var(--blue-accent) !important;
  color: white !important;
  float: right;
  margin-top: 2em;
  padding: 0 1em 0 1em;
}

.card-details {
  margin-top: 3em;
}

.card-details-2 {
  position: absolute;
}
.card-details-inner {
  padding-top: 1em;
}
.card-expiry {
  width: 50%;
  display: inline-block;
}
.card-cvv {
  position: absolute;
  width: 20%;
  display: inline-block;
  margin-left: 1em;
}
.order-sucess {
  margin: 0 auto;
  margin-top: 30%;
  width: 100%;
  text-align: center;
}
.order-sucess h3{
  color: var(--blue-accent);
  font-size: 3em;
}
.order-sucess h4{
  color: var(--black-color);
  font-size: 1.6em;
  margin-top: 1em;
}


/*Style for Favourites Page*/
.favourites-item-detail {
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
  padding-top: 2em;
  bottom: 0;
}
.favourites-item-detail h3 {
  font-size: 1.8em;

}
.favourites-item-detail p {
  font-size: 1.3em;
  color: var(--alternate-text-color);
}


/*Style for About Page*/
.about-body {
  background: white;
  padding-top: 0.5em;
  /*Margin Bottom = top height(7) + navbar height(6) */
  margin-bottom: 13em;
  display: flex;
}
.manzur {
  background: url('../img/manzur.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
  width: 18em;
  height: 18em;
  margin: auto;
  margin-top: 2em;
  border: 1px solid var(--blue-accent);
}
.author-info {
  margin: auto;
  margin-top: 3em;
  text-align: center;
}
.author-info h3{
  color: var(--black-color);
  font-size: 2.5em;
  margin-bottom: 1em;
}
.author-info i{
  color: var(--heart-color);
  font-size: 4em;
}
.author-info p {
  font-size: 1.5em;
  color: var(--alternate-text-color);
  margin-top: 1.5em;
}


/*Ionic Default Theming changes*/
.bar-stable {
  background: white !important;
  border-style: none;
}
.bar-header {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.tab-item-active {
  border-style: none !important;
}
.tab-item.activated {
  border-style: none !important;
}
.tabs-top > .tabs {
  top: auto !important;
  bottom: 0 !important;
  height: 6em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
